* {
    margin: 0;
    padding: 0;
    border: 0;
}

svg {
    margin: auto 10%;
}

div.tooltip {
    position: absolute;
    background-color: rgb(167, 219, 240);
    padding: 10px;
    font: 12px sans-serif;
    border-radius: 8px;
}